@media (min-width: 768px) {
    .custom_card_sponsor{
        min-height: 454px !important;
    }

    .custom_card_oportunities {
        min-height: 450px !important;
    }

    .margin-t-80 {
        margin-top: 80px !important;
    }
}

html {
    scroll-behavior: smooth !important;
  }